/* font-family: "Exo2Bold"; */
@font-face {
    font-family: "Exo2Bold";
    src: url("../fonts/Exo2Bold/Exo2Bold.eot");
    src: url("../fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2Medium"; */
@font-face {
    font-family: "Exo2Medium";
    src: url("../fonts/Exo2Medium/Exo2Medium.eot");
    src: url("../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
    url("../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClinicaProReg"; */
@font-face {
  font-family: 'ClinicaProReg';
  src: url('../fonts/ClinicaProRegular/ClinicaPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClinicaProRegular/ClinicaPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClinicaProRegular/ClinicaPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClinicaProRegular/ClinicaPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClinicaProRegular/ClinicaPro-Regular.svg#8c1dc3b2fcba2441b1a64d935e2deae3') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
/* font-family: "HelveticaNeueLight"; */
@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight/HelveticaNeueCyr-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLight/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLight/HelveticaNeueCyr-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLight/HelveticaNeueCyr-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLight/HelveticaNeueCyr-Light.svg#e134913b640f138403f1e25143da3868') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}
/* font-family: "HelveticaNeueThin"; */
@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('../fonts/HelveticaNeueThin/HelveticaNeueCyr-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueThin/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueThin/HelveticaNeueCyr-Thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueThin/HelveticaNeueCyr-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueThin/HelveticaNeueCyr-Thin.svg#18b713394e66fffeddc530f30830bd12') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}
