/* sb-nav-button */
$sb-nav-button-width: 30px;
$sb-nav-button-line-height: 3px;
.sb-nav-button {
  display: block;
  width: $sb-nav-button-width;
  height: $sb-nav-button-width - 8;
  border: none;
  cursor: pointer;
  div {
    width: $sb-nav-button-width;
    height: $sb-nav-button-line-height;
    background: black;
    position: absolute;
    left: 0;
    border-radius: 3px;
    @extend .transition;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
    }
    &:nth-child(3) {
      top: 50%;
    }
    &:nth-child(4) {
      top: 100%;
    }
  }
}
body.is-active {
    .sb-nav-button {
        div {
            @extend .transition-hover;
            &:nth-child(1) {
              top: 0;
              opacity: 0;
            }
            &:nth-child(2) {
              top: 50%;
              transform: rotate(45deg);
              background: $g-main-color;
            }
            &:nth-child(3) {
              top: 50%;
              transform: rotate(-45deg);
              background: $g-main-color;
            }
            &:nth-child(4) {
              top: 100%;
              opacity: 0;
            }
        }
    }
}
/* sb-button */
.sb-button {
    $sb-button-main-color: #ee2a24;
    display: inline-block;
    font-family: $g-font-family-bold;
    font-size: 16px;
    color: white !important;
    background-color: $sb-button-main-color;
    border-radius: 50px;
    padding: 13px 20px 14px 20px;
    max-width: 100%;
    width: 240px;
    box-sizing: border-box;
    border: solid 2px $sb-button-main-color !important;
    text-align: center;
    line-height: 1.2 !important;
    @extend .transition;
    text-transform: uppercase;
    &:hover {
        background-color: darken($sb-button-main-color, 5);
        border-color: darken($sb-button-main-color, 5) !important;
        @extend .transition-hover;
    }
    &--light {
        background-color: transparent;
        border: solid 2px #e5e7e9 !important;
        color: $g-main-color !important;
        &:hover {
            background-color: transparent;
            border-color: darken(#e5e7e9, 10) !important;
            color: black !important;
        }
    }
    $sb-button-color-ancor: #5f5f5f;
    &--ancor {
        background-color: transparent;
        border: solid 2px $sb-button-color-ancor !important;
        color: $sb-button-color-ancor !important;
        &:hover {
            background-color: transparent;
            border-color: darken($sb-button-color-ancor, 10) !important;
            color: darken($sb-button-color-ancor, 10) !important;
        }
    }
    &--border-radius-off {
        border-radius: 0 !important;
    }
    &--bg-purple {
        background-color: $g-slider-button-color-purple;
        border-color: $g-slider-button-color-purple !important;
        &:hover {
            background-color: darken($g-slider-button-color-purple, 10);
            border-color: darken($g-slider-button-color-purple, 10) !important;
        }
    }
    &--bg-indigo {
        background-color: $g-slider-button-color-indigo;
        border-color: $g-slider-button-color-indigo !important;
        &:hover {
            background-color: darken($g-slider-button-color-indigo, 10);
            border-color: darken($g-slider-button-color-indigo, 10) !important;
        }
    }
}
/* sb-h2 */
.sb-h2 {
    text-align: center;
    h2 {
        font-family: $g-font-family-bold;
        font-size: 36px;
        color: #000000;
        line-height: 1.2;
        margin-bottom: 0;
        span {
            position: absolute;
            left: 0;
            top: 100%;
            font-family: $g-font-family-nova-light;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 4px;
        }
    }
    &--top {
        @extend .gpt-header;
    }
    &--after-img {
        padding-top: 40px;
    }
    &--span {
        @include ab() {
            h2 {
                margin-bottom: 20px;
                span {
                    margin-top: 10px;
                }
            }
        }
    }
}
/* sb-socials */
.sb-socials {
    ul {
        &:after {
            @extend .clearfix;
        }
        li {
            display: block;
            float: left;
            margin-right: 5px;
            margin-bottom: 5px;
            border-radius: 50%;
            width: 100%;
        }
    }
    &__link {
        display: inline-block;
        line-height: 1;
        &:hover {
            .sb-socials__icon {
                opacity: 1;
                transition: 0.3s;
            }
            .sb-socials__link-text {
                color: white;
                transition: 0.3s;
            }
        }
    }
    &__icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        opacity: 0.4;
        transition: 0.1s;
        top: 5px;
        margin-right: 7px;
        &--facebook {
            background-image: url('http://rosa.super.perevorot.com/app/img/design/fb.svg');
        }
        &--twitter {
            background-image: url('/app/img/design/social-twitter-white.svg');
        }
        &--instagram {
            background-image: url('/app/img/design/social-instagram-white.svg');
        }
        &--youtube {
            background-image: url('http://rosa.super.perevorot.com/app/img/design/youtube.svg');
            background-size: 90%;
        }
        &--blogspot {
            background-image: url('/app/img/design/blogspot.svg');
            background-size: 85%;
            background-position: center 3px;
        }
    }

    &__link-text {
        color: $g-footer-link-color;
        transition: 0.1s;
    }
}
/* sb-img-card */
$sb-img-card-white-box-width: 20px;
.sb-img-card {
    &__img {
        padding-top: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('http://rosa.super.perevorot.com/app/img/design/watercolor-spot.jpg');
        &:after {
            content: '';
            display: block;
            width: $sb-img-card-white-box-width;
            height: $sb-img-card-white-box-width;
            background-color: white;
            position: absolute;
            bottom: -$sb-img-card-white-box-width/2;
            left: 50%;
            margin-left: -$sb-img-card-white-box-width/2;
            transform: rotate(45deg);
        }
    }
    &__description {
        padding: 30px;
        background-color: white;
        h2 {
            font-family: $g-font-family-bold;
            font-size: 24px;
            line-height: 1.04;
            margin-bottom: 10px;
        }
        h3 {
            color: #979797;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        a {
            font-size: 16px;
            color: $g-main-color;
            border-bottom: 1px solid lighten($g-main-color, 30);
            &:hover {
                border-color: lighten($g-main-color, 20);
            }
        }
    }
}
/* sb-news-card */
.sb-news-card {
    display: block;
    h2 {
        font-family: $g-font-family-bold;
        font-size: 20px;
        line-height: 1;
        color: $g-main-color;
        display: inline-block;
        margin-bottom: 10px;
        @extend .transition;
    }
    p {
        font-family: $g-font-family-nova-light;
        font-size: 16px;
        line-height: 1.56;
        color: $g-color-text-grey;
        margin-top: 20px;
        @extend .transition;
    }
    &:hover {
        h2 {
            color: black;
            @extend .transition-hover;
        }
        p {
            color: black;
            @extend .transition-hover;
        }
    }
    &__date {
        font-family: $g-font-family-nova-light;
        font-size: 12px;
        text-transform: uppercase;
        color: #000000;
        margin-top: 5px;
    }
}
/* sb-pagination */
$sb-pagination-margin-x-arrow: 30px;
.sb-pagination {
    font-family: $g-font-family-bold;
    text-align: center;
    ul {
        li {
            display: inline-block;
            margin-right: 3px;
            margin-left: 3px;
            &.is-active {
                a {
                    background: $g-main-color;
                    color: white;
                    border-radius: 50px;
                    @extend .transition;
                    &:hover {
                        color: white;
                        @extend .transition-hover;
                    }
                }
            }
            a {
                color: $g-main-color;
                font-size: 16px;
                padding-left: 5px;
                padding-right: 5px;
                min-width: 30px;
                line-height: 30px;
                box-sizing: border-box;
                transition: 0.1s;
                display: block;
                &:hover {
                    color: black;
                    transition: 0.3s;
                }
            }
        }
    }
    &__arrow {
        @include ab() {
            display: none !important;
        }
        a {
            top: 1px;
            &:after {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-right: 2px solid $g-main-color;
                border-bottom: 2px solid $g-main-color;
                position: relative;
                @extend .transition;
            }
            &:hover {
                &:after {
                    border-color: black;
                    @extend .transition-hover;
                }
            }
        }
        &--next {
            margin-left: $sb-pagination-margin-x-arrow !important;
            a {
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
        &--prev {
            margin-right: $sb-pagination-margin-x-arrow !important;
            a {
                &:after {
                    transform: rotate(135deg);
                }
            }
        }
        &.is-hide {
            opacity: 0;
            pointer-events: none;
        }
    }
    &--dark {
        ul {
            li {
                a {
                    color: black;
                }
            }
        }
        .sb-pagination__arrow {
            a {
                &:after {
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                }
            }
        }
    }
    &__dots {
        a {
            &:hover {
                color: $g-main-color !important;
            }
        }
    }
}
/* sb-c */
.sb-c {
    padding: 0 40px;
    @include ab() {
        padding: 0;
    }
    &__table {
        display: table;
    	width: 100%;
    	max-width: 900px;
    	margin: 0 auto;
        @include ab() {
            display: block;
            &:after {
                content: '';
        		display: table;
        		clear: both;
            }
        }
    }
    &__cell {
        display: table-cell;
    	width: 50%;
    	background-image: url('http://rosa.super.perevorot.com/app/img/design/plus.png');
    	background-position: top left;
    	background-repeat: no-repeat;
    	padding-left: 65px;
    	padding-right: 50px;
        min-height: 65px;
        @include ab() {
            display: block;
    		float: left;
    		width: 100%;
    		padding-bottom: 6%;
            padding-right: 0;
        }
        @extend .g-text;
    }
}
/* sb-show-text-button */
.sb-show-text-button {
    border-bottom: none !important;
    cursor: pointer;
    &:after {
        content: '';
        position: relative;
        top: 5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('http://rosa.super.perevorot.com/app/img/content/inner-news/from-to-next.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8px;
        transform: rotate(90deg);
    }
    span {
        &:nth-child(2) {
            display: none;
        }
    }
    &.is-active {
        &:after {
            transform: rotate(-90deg);
        }
        span {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                display: inline-block;
            }
        }
    }
}
/* sb-b-card */
.sb-b-card {
    &:after {
        @extend .clearfix;
    }
    &__img {
        width: 40%;
        padding-top: 40%;
        background-size: 70%;
        background-position: top center;
        background-repeat: no-repeat;
        float: left;
        margin-top: 7px;
        @include a2() {
            width: 200px;
            background-position: bottom left;
            margin-bottom: 10px;
            padding-top: 30%;
            background-size: contain;
        }
        @include a2() {
            width: 160px;
            height: 100px;
            padding-top: 0;
        }
    }
    &__description {
        width: 60%;
        float: left;
        padding-left: 20px;
        padding-right: 10px;
        @include a2() {
            width: 100%;
            padding-left: 0;
        }
        h2 {
            font-family: $g-font-family-bold;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            line-height: 1.56;
        }
    }
}
/* sb-top-spray */
.sb-top-spray {
    position: absolute;
    top: 0;
    right: 0;
    width: 900px;
    height: 500px;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    @include a-header-2() {
        width: 700px;
    }
    @include a-header-3() {
        width: 500px;
    }
    @include a-header-mob() {
        width: 400px;
    }
    @include a-header-mob-2() {
        width: 300px;
        background-position: 50px 0;
    }
}
/* sb-video */
.sb-video {
    &__frame-wrap {
        position: relative;
	    padding-bottom: 56.25%; /* 16:9 */
	    padding-top: 25px;
	    height: 0;
        iframe {
            position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;
        }
    }
    &__description {
        p {
            font-family: $g-font-family-bold;
            font-size: 24px;
            color: black;
            margin-top: 20px;
            margin-bottom: 0;
            display: inline-block;
            line-height: 1.2;
        }
    }
}
/* sb-gallery */
.sb-gallery {
    &:after {
        @extend .clearfix;
    }
    &__img {
        display: block;
        float: left;
        border-bottom: none !important;
        border: 1px solid $g-border-color-card;
        box-sizing: border-box;
        &:hover {
            border-color: $g-border-color-card !important;
        }
        img {
            width: 100%;
            display: block;
        }
    }
}

/* sb-slider-sm */
.sb-slider-sm {
    .slick-dots {
        bottom: 62px;
        li button {
            //box-shadow: 0 0 1px 1px #e8e8e8;
            border: 1px solid #848484;
            box-sizing: border-box;
            height: 14px;
        }
    }
    .slick-prev {
        background-image: url('/app/img/design/prev-border.svg');
    }
    .slick-next {
        background-image: url('/app/img/design/next-border.svg');
    }
}
