/* see sometime */

.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slick-prev {
  position: absolute;
  left: 50px;
  z-index: 2000;
  background-image: url('/app/img/design/prev.svg');
  @include ad() {
      left: 20px !important;
  }
}
.slick-next {
  position: absolute;
  left: 93px;
  z-index: 2000;
  background-image: url('/app/img/design/next.svg');
  @include ad() {
      left: 70px !important;
  }
}
.slick-prev, .slick-next {
  background-color: transparent;
  border: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
  overflow: hidden;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 60px;
  outline: none;
  @include ab() {
      display: none !important;
  }
}
.slick-prev:active, .slick-next:active {
  border: none;
  border-spacing: 0;
}
.slick-list.draggable {
  height: 100%;
  outline: none;
}
.slick-list.draggable .slick-track {
  height: 100%;
  outline: none;
}
.slick-dots {
  position: absolute;
  bottom: 67px;
  left: 142px;
  @include ab() {
      left: auto !important;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      bottom: 40px;
  }
}
.slick-dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 11px;
  padding-left: 0 !important;
  &:after {
      display: none !important;
  }
}
.slick-dots li button {
  background-color: white;
  opacity: 0.4;
  border: none;
  font-size: 1px;
  color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}
.slick-dots li.slick-active button {
  opacity: 1;
  outline: none;
}
