.social-likes {
    &__widget {
        display: inline-block;
        padding-right: 30px;
    }
    &__button {
        border: 1px solid $g-border-color-card;
        border-radius: 3px;
        line-height: 23px;
        height: 20px;
        font-size: 14px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        background-repeat: no-repeat;
        padding-left: 25px;
        background-size: 15px;
        background-position: 3px center;
        &_facebook {
            border-color: #3d528c;
            background-color: #4d66a6;
            color: white;
            background-image: url('/app/img/design/social-likes-icon-facebook.svg');
        }
        &_plusone {
            background-image: url('/app/img/design/social-likes-icon-google-plus.svg');
        }
    }
    &__counter {
        border: 1px solid $g-border-color-card;
        border-radius: 3px;
        line-height: 23px;
        height: 20px;
        font-size: 14px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        color: $g-color-text-grey;
        background: white;
        margin-left: 3px;
        &:before {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-left: 1px solid $g-border-color-card;
            border-bottom: 1px solid $g-border-color-card;
            background: white;
            position: absolute;
            top: 50%;
            left: -3px;
            transform: rotate(45deg);
            margin-top: -3px;
        }
        &_empty {
            display: none;
        }
    }
}
