/*********************
global vars
*********************/

$g-main-color: #cd242a;
$g-main-dark-color: #212121;
$g-slider-button-color-purple: #ab47bc;
$g-slider-button-color-indigo: #3f51b5;
$g-footer-link-color: lighten(#a5a5a5, 10);

$g-color-link: #9fa8da;
$g-border-color-card: #e3e6e6;
$g-color-text-grey: #333333;
$g-color-footer-link: #a5a5a5;

$g-font-family-bold: "Exo2Bold";
$g-font-family-medium: "Exo2Medium";
$g-font-family-clinica-pro: "ClinicaProReg";
$g-font-family-nova-light: "HelveticaNeueLight";


/*********************
spacer
*********************/

$spacer:              10px;


/*********************
grid-system
*********************/

$gridSystem:          25, 50, 100;


/*********************
Медиа-выражения и grid-points
*********************/

/*** Медиа-выражения

*-------------------------------------------------------------*
| Миксины для медиавыражений заданы в файле "sbcore/_m.scss"; |
|             Система гридов задана в файле "sbcore/_g.scss"; |
*-------------------------------------------------------------*

*------------------------------------------------------------------------------------------------------------*
|   --Видимость медиа выражений--      --Пример использования--         --Система сеток--                    |
| A         B         C         D         E																	 |
| -∞        $b        $c        $d       +∞																	 |
| +++++++++++++++++++++++++++++++++++++++++                                   col-(25/33/50/66/100)			 |
| ++++++++++++++++++++++++++++++|----------      @include ad() { ... }        col-ad-(25/33/50/66/100)		 |
| ++++++++++++++++++++|--------------------      @include ac() { ... }        col-ac-(25/33/50/66/100)		 |
| ++++++++++|------------------------------      @include ab() { ... }        col-ab-(25/33/50/66/100)		 |
| ------------------------------|++++++++++      @include de() { ... }										 |
| --------------------|++++++++++++++++++++      @include ce() { ... }										 |
| ----------|++++++++++++++++++++++++++++++      @include be() { ... }										 |
| ----------|+++++++++++++++++++|----------      @include bd() { ... }										 |
| ----------|+++++++++|--------------------      @include bc() { ... }										 |
| --------------------|+++++++++|----------      @include cd() { ... }										 |
| 																											 |
|      A1    A4      A2        A3          																	 |
| -∞   $a1   $a4     $a2       $a3       +∞																	 |
| +++++|-----------------------------------      @include a1() { ... }        col-a1-(25/33/50/66/100)		 |
| +++++++++++|-----------------------------      @include a4() { ... }										 |
| +++++++++++++++++++|---------------------      @include a2() { ... }										 |
| +++++++++++++++++++++++++++++|-----------      @include a3() { ... }										 |
| 																											 |
|            E2           E1               																	 |
| -∞         $e2          $e1            +∞																	 |
| -----------|+++++++++++++++++++++++++++++      @include e2() { ... }										 |
| ------------------------|++++++++++++++++      @include e1() { ... }										 |
| 																											 |
|        P1(1)                 P1(2)       	   																 |
| -∞     $p1[1]                $p1[2]    +∞	   																 |
| -------|+++++++++++++++++++++|-----------      @include p1() { ... }										 |
*------------------------------------------------------------------------------------------------------------*
*/
$a1:                  700px;

$b:                   900px;
$c:                   1200px;
$d:                   1460px;

$e1:                  1700px;

$a-header-1:          1460px;
$a-header-2:          1300px;
$a-header-3:          1100px;
$a-header-mob:        900px;
$a-header-mob-2:      600px;
$a-header-iphone4:    320px;
$a-team-mob:          500px;

$a2:                  1000px;

$e-header-desktop:    900px;

$a-spray-1:           1600px;
$p-two-three-cards:   $a1, $c;

/*********************
width for center blocks
*********************/

$max-width:           1460px;
$max-width-inner:     1060px;

/*
 some page
 ___________________________________________________
|.c-block  _______________________________________	|
|     |.c (max-width: $max-width;)			  |	    |
|     | _____________________________________ |	    |
|     ||div					                 ||	    |
|     ||									 ||	    |
|     | ------------------------------------- |	    |
|     |    _______________________________	  |	    |
|     |   |.some-class (				  |	  |	    |
|     |   |max-width: $max-width-inside;) |	  |	    |
|     |    -------------------------------    |	    |
|      --------------------------------------- 	    |
 ---------------------------------------------------
*/
