.c-a {
    background-color: white;
    overflow-x: hidden;
    .c {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__top-img {
        height: 555px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include ad() {
            padding-top: 0;
            height: 455px;
        }
        @include ac() {
            padding-top: 0;
            height: 355px;
        }
    }
    &__top-img-bottom-icon {
        width: 120px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -60px;
        background-color: white;
        padding: 20px;
        padding-bottom: 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        img {
            width: 100%;
        }
    }
    &__inner {
        max-width: $max-width-inner;
        margin-left: auto;
        margin-right: auto;
    }
    &__header {
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    &__text-wrap {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 40px;
        @include a1() {
            padding-left: 0;
            padding-right: 0;
        }
        p {
            font-family: $g-font-family-nova-light;
            font-size: 16px;
            line-height: 1.56;
            color: $g-color-text-grey;
            column-count: 2;
            column-gap: 60px;
            @include ab() {
                column-count: 1;
            }
        }
    }
    &__buttons-wrap {
        text-align: center;
        @include a1() {
            margin-left: -30px;
            margin-right: -30px;
        }
        .sb-button {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 20px;
        }
    }

}
