.c-brands {
    padding-bottom: 100px;
    &__center {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    &__list {
        margin-left: -5px;
        margin-right: -5px;
    }
    &__item {
        padding: 25px;
        &.col-50 {
            &:nth-child(2n + 1) {
                clear: both;
            }
        }
        @include a1() {
            width: 100%;
        }
    }
}
