.c-cards {
    background: white;
    @include ad() {
        padding-bottom: 0 !important;
    }
  .c {
    padding-top: 40px;
    padding-bottom: 40px;
    @include ad() {
        padding: 0;
    }
  }
  &__curve-top {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      height: 30px;
      bottom: 100%;
      overflow: hidden;
      @include ad() {
          display: block;
      }
  }
  &__curve {
      display: block !important;
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  &__big-curve-top {
      display: none;
      position: absolute;
      width: 100%;
      height: 0;
      @include de() {
          display: block;
      }
  }
  &__big-curve {
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 30px;
  }
  &__curve-item-1 {
      display: none;
      @include ad() {
          display: block !important;
          position: absolute;
          bottom: 0;
          width: 25%;
          border-right: 1px solid $g-border-color-card;
          transform: translateX(-1px);
      }
      @include ac() {
          display: none !important;
      }
      @include cd() {
          left: 1px;
      }
  }
  &__curve-item-2 {
      display: none;
      @include ad() {
          display: block !important;
          position: absolute;
          bottom: 0;
          width: 25%;
          right: 0;
          border-left: 1px solid $g-border-color-card;
          transform: translateX(1px);
      }
      @include ac() {
          display: none !important;
      }
  }
  &__curve-item-3 {
      display: none;
      @include ad() {
          display: block;
          display: block !important;
          position: absolute;
          bottom: 0;
          width: 50%;
          border-right: 2px solid $g-border-color-card;
          transform: translateX(-1px);
      }
      @include a1() {
          display: none !important;
      }
  }
  &__list {
      &--top {
          .c-cards__item {
              @include ad() {
                  border-top: 0;
              }
          }
      }
      &--last-2 {
          .c-cards__item {
              @include ce() {
                  &:nth-last-child(1), &:nth-last-child(2) {
                      width: 50%;
                      .c-cards__item-img {
                          bottom: 67px;
                          top: 63px;
                      }
                  }
              }
              @include de() {
                  &:last-child {
                      border-right: 1px solid $g-border-color-card !important;
                  }
              }
          }
      }
      &--last-1 {
          .c-cards__item {
              @include ce() {
                  &:nth-last-child(1) {
                      width: 100%;
                      .c-cards__item-img {
                          bottom: 67px;
                          top: 63px;
                      }
                  }
              }
          }
      }
      &--4 {
          .c-cards__item {
              width: 25%;
              @include ac() {
                  width: 50%;
                  padding-top: 0;
                  height: 340px;
                  .c-cards__item-img {
                      bottom: 50px;
                  }
              }
              @include a1() {
                  width: 100%;
                  height: 350px;
                  .c-cards__item-img {
                      bottom: 50px;
                  }
              }
          }
      }
      &--3 {
          .c-cards__item {
              @include de() {
                  &:nth-of-type(4n) {
                      border-right: none;
                  }
                  &:nth-of-type(3n) {
                      border-right: 1px solid $g-border-color-card;
                  }
              }
              @include ce() {
                  &:nth-of-type(3n - 1) {
                      width: 50%;
                      .c-cards__item-img {
                          bottom: 67px;
                          top: 63px;
                      }
                  }
              }
              @include ac() {
                  width: 50%;
                  padding-top: 0;
                  height: 340px;
                  .c-cards__item-img {
                      bottom: 67px;
                      top: 63px;
                  }
                  &:nth-of-type(3) {
                      width: 100%;
                      border-top: 1px solid $g-border-color-card;
                  }
              }
              @include a1() {
                  width: 100% !important;
                  height: 350px;
                  .c-cards__item-img {
                      bottom: 50px;
                  }
              }
          }
          .c-cards__curve-item-3 {
              display: none !important;
               @include ac() {
                   display: block !important;
               }
               @include a1() {
                   display: none !important;
               }
          }

      }
  }
  &__item {
      padding-top: 25%;
      width: 25%;
      float: left;
      border: 1px solid $g-border-color-card;
      border-right: none;
      display: block;
      box-sizing: border-box;
      overflow: hidden;
      transition: 0s !important;
      margin-top: -1px;
      @include de() {
          &:nth-of-type(4n) {
              border-right: 1px solid $g-border-color-card;
          }
      }
      @include p-two-three-cards() {
          border-top: 1px solid $g-border-color-card !important;
          &:nth-of-type(1),
          &:nth-of-type(2) {
              border-top: none !important;
          }
      }
      &:hover {
          .c-cards__item-img {
              transform: scale(1.2);
              @extend .transition-hover;
          }
          h2 {
              color: black;
              @extend .transition-hover;
          }
      }
      h2 {
          font-family: $g-font-family-bold;
          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 20px;
          text-align: center;
          font-size: 20px;
          color: $g-main-color;
          @extend .transition;
      }
  }
  &__item-img {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @extend .transition;
  }
}
