.c-content {
    z-index: 200;
    background-color: white;
    &--min-height {
        min-height: 700px;
        @include ab() {
            min-height: auto;
        }
    }
    &__bottom-curve {
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        right: 0;
        img {
            width: 100%;
            height: 20px;
        }
    }
    &--padding-top {
        padding-top: 175px;
        @include a-header-2() {
            padding-top: 150px;
        }
        @include a-header-mob() {
            padding-top: 130px;
        }
    }
    &--bg-yellow {
        background-color: #f0eee2;
    }
    p {
        a {
            color: $g-main-color;
            border-bottom: 1px solid lighten($g-main-color, 30);
            &:hover {
                border-color: lighten($g-main-color, 20);
            }
        }
    }
    &__top-img-wrap {
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
        }
    }
}
