.c-f {
    background-color: #232323;
    padding-top: 70px;
    &__inner {
        max-width: $max-width-inner;
        margin-left: auto;
        margin-right: auto;
        @include a1() {
            border-bottom: 1px solid #353535;
        }
    }
    &__bottom-line {
        position: absolute;
        left: 50px;
        right: 50px;
        bottom: 0;
        height: 4px;
        background-color: $g-main-color;
        @include a1() {
            left: 20px;
            right: 20px;
        }
    }
    &__list-wrap {
        padding-left: 30px;
        padding-bottom: 30px;
        @include a1() {
            padding-left: 0;
            padding-right: 0;
        }
        @include ab() {
            &:nth-child(2n + 1) {
                clear: both;
            }
        }
    }
    &__header-wrap {
        padding-bottom: 10px;
        h2 {
            font-family: $g-font-family-nova-light;
            color: #666666;
            line-height: 1.56;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    &__nav-list {
        margin-top: 0;
        margin-bottom: 0;
        li {
            padding: 4px 0;
            margin-bottom: 8px;
            a {
                font-family: $g-font-family-nova-light;
                color: $g-footer-link-color;
                font-size: 16px;
                &:hover {
                    color: white;
                    @extend .transition-hover;
                }
            }
        }
    }
    &__nav-list-item-header {
        font-size: 14px;
        color: darken($g-color-footer-link, 10);
        margin-bottom: 7px;
    }
    &__copy-wrap {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
        @include a1() {
            padding-left: 20px;
            padding-right: 20px;
        }
        &:after {
            @extend .clearfix;
        }
    }
    &__copy {
        display: inline-block;
        float: left;
        font-size: 16px;
        color: #666666;
        line-height: 34px;
        text-transform: uppercase;
    }
    &__a {
        display: inline-block;
        float: right;
    }
    &__a-text {
        display: inline-block;
        float: left;
        color: #666666;
        font-size: 16px;
        line-height: 34px;
        @include a1() {
            display: none;
        }
    }
    &__a-logo {
        display: inline-block;
        float: left;
        max-width: 80px;
        line-height: 30px;
        margin-left: 10px;
        opacity: 0.7;
        &:hover {
            opacity: 1;
            @extend .transition-hover;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    &__socials {
        .sb-socials__link {
            font-size: 16px;
        }
    }
}
