.sticky-wrapper {
	position: absolute;
	top: 200px;
	left: 80%;
	z-index: 10000;
	@include ab() {
		right: 90px;
		left: auto;
	}
}
.history__nav__wrap {
	position: absolute;
	top: 0;
}
.history__nav-block {
	width: 70px;
	top: 0;
}
.history__nav-block a {
	display: inline-block;
}


.history__nav__year--big {
	font-family: 'HelveticaNeueLight';
	font-size: 16px;
	color: #000000;
	line-height: 25px;
}
.history__nav__year--small {
	font-family: 'HelveticaNeueLight';
	font-size: 12px;
color: #979797;
line-height: 25px;
}
.history__nav__time-line {
	position: absolute;
	top: 16px;
	right: 0;
	width: 10px;
	bottom: 5px;
	background: rgba(0,0,0,0.1);
	border-radius: 20px;
}
.history__nav__year--big.active span:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	background-color: black;
	position: absolute;
    right: -5px;
	bottom: 1px;
	transition: 0.3s;
}
.history__nav__year span {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding-right: 30px;
	text-align: right;
	margin-top: 3px;
	margin-bottom: 3px;
}
@media screen and (max-height: 750px) {
	.history__nav__year span {
		margin: 0 !important;
	}
}
@media screen and (max-height: 620px) {
	.history__nav__year--small {
		display: none !important;
	}
}
.history__nav__year--big span {
	cursor: pointer;
}
.history__nav__year--big span:hover:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 5px;
	height: 1px;
	background: rgba(0,0,0,0.8);
	bottom: 5px;
}
.history__nav__year--big.active span:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 5px;
	height: 1px;
	background: rgba(0,0,0,0.8);
	bottom: 5px;
}
.history__nav__year--big.active span {
	color: #CD242A;
}
