$c-h-border-color: #e4e4e4;
$c-h-mob-nav-arrow-color: darken($c-h-border-color, 10);
$c-h-width-mob-menu: 300px;
$c-h-sub-item-color-mob: lighten(black, 50);
.c-h {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 20000;
  &--light {
      .sb-nav-button {
          div {
              background: white;
          }
      }
      .c-h__scroll {
          & > ul {
              & > li {
                  & > a {
                      @include e-header-desktop() {
                          color: white;
                      }
                  }
              }
          }
          ul {
              li {
                  ul {
                      li {
                          a {
                              @include e-header-desktop() {
                                  color: #c2c2c2;
                              }
                          }
                          &.is-active {
                              a {
                                  @include e-header-desktop() {
                                      color: white;
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
  }
  &:after {
    @extend .clearfix;
  }
  &__nav-button {
      float: left;
      @extend .gpl;
      padding-top: 30px;
      display: none;
      z-index: 6000;
      @include a-header-mob() {
          display: inline-block;
      }
  }
  &__right {
    display: block;
    float: right;
    background-image: url('../img/design/c-h-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 1px top;
    width: 629px;
    height: 160px;
    z-index: 4000;
    @include a-header-2() {
      width: 500px;
      height: 130px;
    }
    @include a-header-3() {
      width: 300px;
      height: 120px;
      background-size: cover;
      background-position: left top;
    }
    @include a-header-mob() {
        width: 200px;
    }
    @include a-header-mob-2() {
        width: 180px;
        height: 90px;
    }
  }
  &__bg-nav {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      bottom: 0;
      background: rgba(0, 0, 0, 0);
      transition: left 0;
  }
  &__logo-group {
    float: left;
    display: inline-block;
    border: none;
    margin-left: 70px;
    margin-top: 36px;
    @include a-header-2() {
        margin-left: 32px;
        margin-top: 21px;
    }
  }
  &__logo-img {
    display: block;
    width: 130px;
    height: 78px;
    background-image: url('../img/design/c-h-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include a-header-mob-2() {
        width: 100px;
        height: 60px;
        margin-top: -5px;
        margin-left: 7px;
    }
  }
  &__logo-text {
    position: absolute;
    top: 0;
    left: 100%;
    color: black;
    font-family: $g-font-family-bold;
    font-size: 16px;
    width: 160px;
    margin-left: 13px;
    margin-top: 13px;
    @include a-header-2() {
        font-size: 14px;
    }
    @include a-header-3() {
        display: none;
    }
  }
  &__langs {
      float: right;
      margin-top: 52px;
      @extend .gmr;
      @include a-header-2() {
          margin-top: 37px;
      }
      @include a-header-mob() {
          display: none;
      }
      li {
          display: inline-block;
          margin-left: 5px;
          &.is-active {
              a {
                  color: black;
              }
          }
          a {
              font-family: $g-font-family-clinica-pro;
              font-size: 12px;
              color: #979797;
              border: none;
              &:hover {
                  color: black;
              }
          }
      }
  }
  &__inner {
      transition: left 0.1s;
      position: absolute;
      top: 45px;
      @extend .gpl;
      display: inline-block;
      z-index: 5000;
      @include a-header-mob() {
          display: block;
          position: fixed;
          top: 0;
          width: $c-h-width-mob-menu;
          left: -$c-h-width-mob-menu;
          bottom: 0;
          background: white;
          padding-top: 85px;
          padding-left: 0;
      }
  }
  &__scroll {
      @include a-header-mob() {
          display: block;
          position: fixed;
          top: 80px;
          width: $c-h-width-mob-menu;
          left: -$c-h-width-mob-menu;
          bottom: 0;
          padding-top: 1px;
          padding-left: 0;
          overflow-y: auto;
      }
      a {
          border: none;
          font-family: $g-font-family-bold;
          font-size: 16px;
          transition: all 0s, color 0.1s !important;
          &:hover {
              transition: all 0s, color 0.3s !important;
          }
          @include a-header-1() {
            font-size: 14px;
          }
          @include a-header-mob() {
               transition: all 0s, color 0s !important;
               display: none !important;
          }
      }
      & > ul {
          @include a-header-mob() {
              padding-bottom: 100px;
              display: none;
              &.c-h__mob-nav {
                  display: block !important;
              }
          }
          &.c-h__mob-nav {
              display: none;
          }
          & > li {
              display: inline-block;
              margin-right: 33px;
              position: static;
              @include a-header-1() {
          		margin-right: 20px;
              }
              @include a-header-2() {
          		margin-right: 15px;
              }
              @include a-header-mob() {
                  display: block;
                  border-top: 1px solid $c-h-border-color;
                  border-bottom: 1px solid $c-h-border-color;
                  margin-top: -1px;
                  margin-right: 0;
                  position: relative;
              }
              & > a {
                  color: black;
                  text-transform: uppercase;
                  &:hover {
                      color: $g-main-color;
                  }
                  @include a-header-mob() {
                      color: black;
                      padding: 20px;
                      display: block;
                  }
                  &:hover {
                      @include a-header-mob() {
                          color: black;
                      }
                  }
              }
              &.is-active {
                  & > a {
                      &:after {
                          content: '';
                          display: block;
                          position: absolute;
                          top: -5px;
                          right: -15px;
                          bottom: -5px;
                          left: -15px;
                          border-radius: 20px;
                          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)), linear-gradient($g-main-color, $g-main-color);
                          @include a-header-2() {
                            left: -10px;
                            right: -10px;
                          }
                          @include a-header-mob() {
                              display: none;
                          }
                      }
                      color: white;
                      &:hover {
                          color: white;
                          @include a-header-mob() {
                              color: $g-main-color;
                          }
                      }
                      span {
                          z-index: 5000;
                      }
                      @include a-header-mob() {
                          color: $g-main-color;
                      }
                  }
              }
              &.is-show {
                  .c-h__show-sub {
                      @include a-header-mob() {
                          width: 60px;
                          border-left: 1px solid $c-h-border-color;
                          &:after {
                              transform: rotate(225deg);
                              margin-top: -2px;
                          }
                      }
                  }
                  ul {
                      display: block !important;
                  }
              }
          }
      }
      ul {
          li {
              ul {
                  position: absolute;
                  width: auto;
                  left: 0;
                  top: 45px;
                  display: none;
                  @include a-header-2() {
                      top: 35px;
                  }
                  @include a-header-mob() {
                      display: none !important;
                      position: relative;
                      top: 0;
                      border-top: 1px solid $c-h-border-color;
                      box-shadow: inset 7px 2px 5px 0 rgba(0, 0, 0, 0.08);
                  }
                  li {
                      display: inline-block;
                      margin-right: 32px;
                      @include a-header-1() {
                  		margin-right: 20px;
                      }
                      @include a-header-2() {
                  		margin-right: 15px;
                      }
                      @include a-header-mob() {
                          display: block;
                          margin-right: 0;
                          border-top: 1px solid #dcdcdc;
                          margin-top: -1px;
                      }
                      a {
                          color: #969696;
                          &:hover {
                              color: $g-main-color;
                          }
                          @include a-header-mob() {
                              display: block;
                              padding: 20px;
                              color: $c-h-sub-item-color-mob;
                              text-transform: uppercase;
                              padding-left: 30px;
                              &:hover {
                                  color: $c-h-sub-item-color-mob;
                              }
                          }
                      }
                      &.is-active {
                          a {
                              color: black;
                              @include a-header-mob() {
                                  color: $g-main-color;
                              }
                              &:after {
                                  content: '';
                                  display: block;
                                  position: absolute;
                                  top: -3px;
                                  right: -10px;
                                  bottom: -5px;
                                  left: -10px;
                                  border-radius: 20px;
                                  border: 2px solid $g-main-color;
                                  @include a-header-mob() {
                                      display: none;
                                  }
                              }
                              span {
                                  z-index: 5000;
                              }
                          }
                      }
                  }
              }
              &.is-active  {
                  ul {
                      display: block;
                      @include e-header-desktop() {
                          white-space: nowrap;
                      }
                  }
              }
          }
      }
  }
  &__show-sub {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 57px;
      cursor: pointer;
      z-index: 6000;
      width: 60px;
      border-left: 1px solid $c-h-border-color;
      &:after {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-right: 2px solid $c-h-mob-nav-arrow-color;
          border-bottom: 2px solid $c-h-mob-nav-arrow-color;
          position: absolute;
          right: 24px;
          top: 50%;
          margin-top: -5px;
          transform: rotate(45deg);
      }
      @include a-header-mob() {
          display: block;
      }
  }
  &__mob-langs {
      font-family: $g-font-family-bold;
      display: none;
      position: absolute;
      top: 29px;
      right: 15px;
      z-index: 8000;
      font-size: 14px;
      background: white;
      z-index: 9000;
      &.is-active {
          ul {
              display: block;
          }
          .c-h {
              &__active-lang {
                  &:after {
                      transform: rotate(225deg);
                      margin-top: -1px;
                  }
              }
              &__close-mob-langs {
                  display: block;
                  position: fixed;
                  top: 0;
                  left: 0;
                  width: $c-h-width-mob-menu;
                  bottom: 0;
                  z-index: 8000;
              }
          }
      }
      ul {
          display: none;
          border: 1px solid $c-h-border-color;
          padding-top: 8px;
          padding-bottom: 8px;
          background: white;
          z-index: 9000;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
          li {
              display: block;
              text-align: center;
              padding-top: 5px;
              padding-bottom: 5px;
              a {
                  color: $c-h-sub-item-color-mob;
                  border: none;
              }
          }
      }
  }
  &__active-lang {
      border: 1px solid $c-h-border-color;
      padding: 5px 10px;
      cursor: pointer;
      padding-right: 24px;
      z-index: 9000;
      background: white;
      &:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-right: 2px solid $c-h-mob-nav-arrow-color;
          border-bottom: 2px solid $c-h-mob-nav-arrow-color;
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -4px;
          transform: rotate(45deg);
      }
  }
}
body.is-active {
    @include a-header-mob() {
        .c-h {
            &__inner {
                left: 0;
                transition: left 0.3s;
                box-shadow: 3px -1px 5px 0 rgba(0, 0, 0, 0.11);
            }
            &__scroll {
                left: 0;
                transition: left 0.3s;
                a {
                    display: block !important;
                }
            }
            &__bg-nav {
                left: 0;
            }
            &__nav-button {
                position: fixed;
            }
            &__mob-langs {
                display: block;
            }
        }
    }
}
