.c-history {
    &__list {
        padding-right: 100px;
        & > div {
            &:nth-child(1) {
                padding-top: 0;
            }
        }
    }
}
.ht-item-wrap {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
    @include ab() {
        padding-left: 0 !important;
        padding-right: 20px !important;
    }
}
.ht-text-and-img {
	padding-left: 60px;
	position: relative;
	z-index: 101;
    @include ab() {
        padding-left: 0 !important;
    }
}
.ht-item-wrap:nth-child(6n),
.ht-item-wrap:nth-child(6n - 5)
{
	padding-left: 10%;
	padding-right: 40%;
}
.ht-item-wrap:nth-child(6n - 1),
.ht-item-wrap:nth-child(6n - 4)
{
	padding-left: 20%;
	padding-right: 30%;
}
.ht-item-wrap:nth-child(6n - 2),
.ht-item-wrap:nth-child(6n - 3)
{
	padding-left: 30%;
	padding-right: 20%;
}
.ht-item {
	width: 100%;
	position: relative;
}
.ht-item:after {
	content: '';
	display: none;
	position: absolute;
	top: 70px;
	left: 20px;
	width: 18%;
	bottom: -80px;
	background: rgba(256, 256, 256, 0.7);
	z-index: 10;
}
.ht-item-wrap:last-child .ht-item::after {
	display: none;
}
.ht-item-wrap:nth-child(6n - 2) .ht-item::after,
.ht-item-wrap:nth-child(6n - 1) .ht-item::after,
.ht-item-wrap:nth-child(6n) .ht-item::after
{
	left: -18%;
}
.ht-year {
	font-family: Exo2Bold;
	font-size: 30px;
	position: relative;
	z-index: 2000;
	/*  1997: */
    font-family: Exo2Bold;
    font-size: 48px;
    color: #333333;
    line-height: 57px;
    @include ab() {
        padding-left: 30px;
    }
}
.ht-year:after {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 2px solid #ee2a24;
	position: absolute;
	top: 108%;
	left: 0;
	background-image: url('http://rosa.super.perevorot.com/app/img/design/rosa-logo-r-letter.svg');
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
    @include ab() {
        top: 50%;
        margin-top: -10px;
        width: 20px;
    	height: 20px;
    }
}
.ht-text {
	font-size: 20px;
	margin: 10px 0;
    font-family: HelveticaNeueLight;
    font-size: 20px;
    color: #333333;
    line-height: 30px;
}
.ht-img {
	width: 100%;
}
