.c-maps {
    padding-bottom: 50px;
    &__item {
    	padding-bottom: 50px;
    	width: 100%;
    	max-width: $max-width-inner;
    	margin: 0 auto;
        &:after {
            @extend .clearfix;
        }
    }
    &__description {
    	width: 30%;
    	float: left;
    	box-sizing: border-box;
    	padding-right: 20px;
        padding-bottom: 20px;
        @include ab() {
            width: 100%;
        }
        h2 {
            font-family: $g-font-family-bold;
            font-size: 24px;
            line-height: 1;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            line-height: 1.56;
            color: #262626;
        }
    }
    &__map-wrap {
    	width: 70%;
    	float: left;
    	min-height: 300px;
        background: #dbdbdb;
        @include ab() {
            width: 100%;
        }
    }
}
