.c-news {
    background-color: #f7f9fa;
    .c {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__header {
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__top-new {
        background: white;
        @extend .gpl;
        @extend .gpr;
        text-align: center;
        border-bottom: solid 2px #e5e7e9;
        padding-bottom: 50px;
        @include ab() {
            text-align: left;
        }
    }
    &__top-new-item {
        max-width: 780px;
        display: inline-block;
        h2 {
            font-family: $g-font-family-bold;
            font-size: 36px;
            color: $g-main-color;
            margin-bottom: 30px;
            @extend .transition;
        }
        p {
            font-size: 20px;
            color: $g-color-text-grey;
            line-height: 1.2;
            @extend .transition;
        }
        &:hover {
            h2 {
                color: darken($g-main-color, 10);
                @extend .transition-hover;
            }
            p {
                color: black;
                @extend .transition-hover;
            }
        }
    }
    &__inner {
        max-width: $max-width-inner;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__list {
        padding-top: 20px;
    }
    &__item  {
        text-align: left;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        &.col-50 {
            &:nth-child(2n + 1) {
                clear: both;
            }
        }
        @include a1() {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__button-wrap {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    &__pagination {
        padding-top: 10px;
        padding-bottom: 50px;
    }
}
