.c-slider {
  background: #f7f9fa;
  height: 630px;
  overflow: hidden;
  @include a1() {
      height: 430px;
  }
  .c {
      position: static;
  }
  &:after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      height: 180px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
      top: 0;
      pointer-events: none;
  }
  &__table {
      display: table;
      width: 100%;
      position: static;
  }
  &__cell {
      display: table-cell;
      vertical-align: middle;
      height: 630px;
      position: static;
      @include ab() {
          text-align: center;
      }
      @include a1() {
          height: 430px;
      }
      h2 {
          font-family: $g-font-family-medium;
          max-width: 800px;
          font-size: 48px;
          line-height: 1.02;
          color: white;
          z-index: 2000;
          text-transform: uppercase;
          @include ab() {
              font-size: 40px;
              line-height: 1.2;
              max-width: 100%;
              text-align: center;
          }
          @include a1() {
              font-size: 30px;
              line-height: 1.2;
          }
          @include a-header-iphone4() {
              font-size: 28px;
              line-height: 1.2;
          }
      }
  }
  &__item {
      background-size: cover;
      background-position: center;
      &--dark {
          &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.5);
          }
      }
  }
  .c {
      z-index: 4000;
  }
  &__button {
      display: inline-block;
      position: absolute;
      bottom: 100px;
      right: 0;
      z-index: 10000;
      @include ab() {
          right: auto;
          left: 20px;
          position: relative;
          top: 0;
          left: 0;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
      }
  }
  @include ab() {
      .slick-dots {
          bottom: 50px;
      }
  }
  @include be() {
      .slick-dots {
          bottom: 121px;
      }
      .slick-arrow {
          bottom: 113px;
      }
  }
  @include a1() {
      .slick-dots {
          bottom: 40px;
      }
  }
}
