.c-team {
    .c {
        @extend .gpt-header;
        padding-bottom: 100px;
        overflow: hidden;
    }
    .sb-h2 {
        margin-top: 20px;
    }
    &__item {
        padding: 25px;
        @include ab() {
            padding: 15px;
        }

        @include a-team-mob() {
            width: 100%;
        }
    }
    &__list {
        margin-left: -25px;
        margin-right: -25px;
        @include ab() {
            margin-left: -15px;
            margin-right: -15px;
        }
        
        .col-33 {
            &:nth-child(3n + 1) {
                clear: both;
            }
        }
        .col-ab-50 {
            @include ab() {
                &:nth-child(3n + 1) {
                    clear: none;
                }
                &:nth-child(2n + 1) {
                    clear: both;
                }
            }
        }
    }
}
