.c-t {
    padding-bottom: 100px;
    &--border-bottom {
        border-bottom: 2px solid $g-border-color-card;
    }
    .c {
        @extend .g-text;
        a {
            color: $g-main-color;
            border-bottom: 1px solid lighten($g-main-color, 30);
            &:hover {
                border-color: lighten($g-main-color, 20);
            }
        }
    }
    &__header {
        text-align: center;
        padding-bottom: 20px;
    }
    img {
        max-width: 100%;
    }
    &__button {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        &--absolute {
            position: absolute;
            top: 38px;
            right: 50px;
            @include ab() {
                position: relative;
                top: auto;
                right: auto;
                text-align: center;
            }
        }
    }
    h2, h3 {
        font-family: $g-font-family-bold;
        font-size: 24px;
        line-height: 1.04;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        font-family: $g-font-family-nova-light;
        @extend .g-text;
        margin-top: 10px;
        margin-bottom: 10px;
        strong {
            font-family: $g-font-family-bold;
        }
    }
    ul {
        @extend .g-text;
        li {
            padding-left: 20px;
            margin-top: 10px;
            margin-bottom :10px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                background: black;
                left: 2px;
                top: 7px;
                border-radius: 8px;
            }
        }
    }
    .col-ab-100 {
        @include ab() {
            &.gpr {
                padding-right: 0;
            }
            &.gpl {
                padding-left: 0;
            }
            &.pl2 {
                padding-left: 0 !important;
            }
            &.pr2 {
                padding-right: 0 !important;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .flex-slider {
        display: flex;
        flex-direction: column-reverse;
        & .col-50 {
            width: 100%;
        }
    }
  }