@import '../_vars';
@import '_m';

.clearfix {
	content: '';
	display: table;
	clear: both;
}
.transition {
	transition: all .1s;
}
.transition-hover {
	transition: all 0.3s;
}

.g-text {
	font-size: 17px;
	line-height: 1.56;
	color: $g-color-text-grey;
}

.nowrap {
	white-space: nowrap;
}
.gmr {
	margin-right: 50px;
	@include a-header-1() {
		margin-right: 20px;
	}
}
.gpl {
	padding-left: 50px;
	@include a-header-1() {
		padding-left: 20px;
	}
}
.gpr {
	padding-right: 50px;
	@include a-header-1() {
		padding-right: 20px;
	}
}
.gposl {
	left: 50px;
	@include a-header-1() {
		left: 20px;
	}
}
.gposr {
	right: 50px;
	@include a-header-1() {
		right: 20px;
	}
}
.gpt-header {
	padding-top: 175px;
	@include a-header-2() {
		padding-top: 150px;
	}
	@include a-header-mob() {
		padding-top: 130px;
	}
}
.gpt-cards {
	padding-top: 270px;
	@include a-header-2() {
		padding-top: 170px;
	}
	@include a-header-mob() {
		padding-top: 150px;
	}
}
