@import '../_vars';
@import '_m';

@mixin cols-33-and-66($x) {
    .#{$x}-33 {
	    width: 33.33333%;
    }
    .#{$x}-66 {
	    width: 66.66666%;
    }
}

.spacer {
  height: $spacer;
}
.t-left {
  text-align: left !important;
}
.t-right {
  text-align: right !important;
}
.t-center {
    text-align: center !important;
}
.inline-block {
  display: inline-block;
}
.w {
	width: 100%;
}

.c {
	margin: 0 auto;
	width: 100%;
	max-width: $max-width;
	position: relative;
    padding: 0 50px;
    @include ad() {
        padding: 0 20px;
    }
    &--inner {
        max-width: $max-width-inner;
    }
}
.row {
	&:after {
		@extend .clearfix;
	}
}
[class*="col-"] {
	float: left;
}

.pb3 {
    padding-bottom: 3*$spacer !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pt1 {
    padding-top: 1*$spacer !important;
}
.pt3 {
    padding-top: 3*$spacer !important;
}
.pl2 {
    padding-left: 2*$spacer !important;
}
.pr2 {
    padding-right: 2*$spacer !important;
}

@each $a in $gridSystem {
    .col-#{$a} {
        width: #{$a + '%'};
    }
}
@include cols-33-and-66(col);

@include ad() {
	@each $a in $gridSystem {
    	.col-ad-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-ad);
}

@include ac() {
	@each $a in $gridSystem {
    	.col-ac-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-ac);
}

@include ab() {
	@each $a in $gridSystem {
    	.col-ab-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-ab);
}

@include a1() {
	@each $a in $gridSystem {
    	.col-a1-#{$a} {
        	width: #{$a + '%'};
		}
	}
	@include cols-33-and-66(col-a1);
}
