@import '../_vars';
@import '_m';

html, body {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  font-family: $g-font-family-nova-light;
}
body {
  background-color: #f2f2f2;
  font-size: 1em;
  &.is-active {
      @include a-header-mob() {
          //overflow: hidden;
      }
  }
}
div, h1, h2, h3, h4, h5, h6, ul, ol, li, a, p, span {
  position: relative;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
div {
  box-sizing: border-box;
}
a:active, a:hover, a:focus, button:focus, input:focus {
	outline: none;
}
a {

  text-decoration: none;
  border-bottom: none;
  @extend .transition;
  &:hover {
    @extend .transition-hover;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.05em;
}
h6 {
  font-size: 1em;
}
p {
  font-size: 1em;
}
table, td, th {
	margin:0;
	padding:0;
	background:none;
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	background-image:none;
}
