<div class="c-a">
    <div class="c-a__top-img" style="background-image: url('http://rosa.super.perevorot.com/storage/images/2016-11-23/1111-1.png');">
        <div class="c-a__top-img-bottom-icon">
            <img src="app/img/design/c-h-logo.svg">
        </div>
    </div>
    <div class="c">
        <div class="c-a__inner">

            <div class="c-a__header">

                <div class="sb-h2">
                    <h2>КОМПАНIЯ «РОСА»</h2>
                </div>

            </div>

            <div class="c-a__text-wrap">
                <p>ROSA – це творчість для кожного    Наша історія – 19 років досвіду виробництва та експорту художніх матеріалів в країни Європи, Прибалтики, США, Росію, Білорусію. Для створення та вдосконалення продуктів ми вивчаємо потреби споживачів, зворотній зв’язок від наших партнерів, тенденції ринку, приймаємо участь у світових і вітчизняних виставках. Кваліфіковані працівники, власна лабораторія, нові технології, високотехнологічне обладнання, використання якісної сировини та натуральних матеріалів – дають нам можливість створювати та розвивати продукти відповідно тенденціям ринку, відповідати та перевищувати очікування споживачів.     Багаторічні традиції і новаторські рішення, увага до кожної деталі і сміливість ідей об'єднані в компанії ROSA задля виготовлення продукції, котра відповідатиме найвищим вимогам.</p>
            </div>

            <div class="c-a__buttons-wrap">

                <a href="http://opt.rosa.ua/ua/partnership/" class="sb-button" target="_blank">СТАТИ ПАРТНЕРОМ</a>
                <a href="http://rosa.ua/" class="sb-button" target="_blank">КУПИТИ МАТЕРІАЛИ</a>

            </div>

        </div>
    </div>
</div>
