<div class="c-brands">
	<div class="c-brands__center">
		<div class="row c-brands__list">
			<div class="col-50 c-brands__item">
				<div class="sb-b-card">
					<div class="sb-b-card__img" style="background-image: url('http://rosa.super.perevorot.com/storage/images/2017-01-11/rosa-default.png');"></div>
					<div class="sb-b-card__description">
						<h2>ROSA - Професійні матеріали для творчості</h2>
						<p>Ручна робота, традиції поколінь, унікальні властивості в ексклюзивних продуктах для професійного живопису виробництва ROSA.</p>
					</div>
				</div>
			</div>
			<div class="col-50 c-brands__item">
				<div class="sb-b-card">
					<div class="sb-b-card__img" style="background-image: url('http://rosa.super.perevorot.com/storage/images/2017-01-11/rosa-gallery.png');"></div>
					<div class="sb-b-card__description">
						<h2>ROSA Gallery - Творчість надихає!</h2>
						<p>Професійні художні матеріали, що перевершують очікування! Протестовані та схвалені художниками України! Базові та унікальні матеріали і інструменти створені, щоб допомогти художнику підкреслити свій індивідуальний стиль. Продукти, що надихають до творчості!</p>
					</div>
				</div>
			</div>
			<div class="col-50 c-brands__item">
				<div class="sb-b-card">
					<div class="sb-b-card__img" style="background-image: url('http://rosa.super.perevorot.com/storage/images/2017-01-11/rosa-studio.png');"></div>
					<div class="sb-b-card__description">
						<h2>ROSA Studio - Творчість починається з ідеі!</h2>
						<p>Товари для живопису ROSA Studio - ідеальний вибір для навчання, роботи в студіі та етюдів. Якісні професійні матеріали за доступною ціною.</p>
					</div>
				</div>
			</div>
			<div class="col-50 c-brands__item">
				<div class="sb-b-card">
					<div class="sb-b-card__img" style="background-image: url('http://rosa.super.perevorot.com/storage/images/2017-01-11/rosa-talent.png');"></div>
					<div class="sb-b-card__description">
						<h2>ROSA TALENT - HOBBY &amp; CRAFT!</h2>
						<p></p>
						<p>Продукти для декору, рукоділля та хобі. Трендові мотиви, кольори та дизайни в найпопулярніших техніках хендмейду нададуть можливість реалізувати безліч &nbsp;ідей в особливих подарунках, ексклюзивних речах декору інтер’єру чи гардеробу.</p>
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-50 c-brands__item">
				<div class="sb-b-card">
					<div class="sb-b-card__img" style="background-image: url('http://rosa.super.perevorot.com/storage/images/2017-01-11/rosa-kids.png');"></div>
					<div class="sb-b-card__description">
						<h2>ROSA KIDS – Творчий розвиток вашої дитини! </h2>
						<p></p>
						<p>Набори для творчості, для діток від 3 +</p>
						<p>Набори відкриють дитині захоплюючий світ художньої і декоративної творчості, допоможуть освоїти ази малювання, навчать розрізняти фактури, змішувати кольори, передавати свої думки і почуття за допомогою мистецтва.</p>
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-50 c-brands__item">
				<div class="sb-b-card">
					<div class="sb-b-card__img" style="background-image: url('http://rosa.super.perevorot.com/storage/images/2017-01-11/rosa-start.png');"></div>
					<div class="sb-b-card__description">
						<h2>ROSA START – Приєднуйся до творчості! </h2>
						<p></p>
						<p>Набори для творчості,розробленого спеціально для новачків від 7 +</p>
						<p>Стати справжнім художником легко і просто завдяки набору для творчості «ROSA START», Навіть якщо Ви ніколи не тримали пензля в руках - ми гарантуємо чудовий результат!</p>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
