<div class="c-cards">

    <div class="c-cards__big-curve-top">
        <img src="http://rosa.super.perevorot.com/app/img/design/slider-cur.png" class="c-cards__big-curve">
    </div>

  <div class="c">

      <div class="row c-cards__list c-cards__list--top c-cards__list--4">

          <div class="c-cards__curve-top">
              <img src="http://rosa.super.perevorot.com/app/img/design/slider-cur.png" class="c-cards__curve">
              <img src="http://rosa.super.perevorot.com/app/img/design/slider-curve-item.png" class="c-cards__curve-item-1">
              <img src="http://rosa.super.perevorot.com/app/img/design/slider-curve-item.png" class="c-cards__curve-item-2">
              <img src="/app/img/design/slider-curve-item-2.png" class="c-cards__curve-item-3">
          </div>

          <a href="/products-2.html" class="c-cards__item">
              <div class="c-cards__item-img" style="background-image: url('/app/img/content/card-1.jpg');"></div>
              <h2>Акрил для декору ROSA Talent</h2>
          </a>
          <a href="/products-2.html" class="c-cards__item">
              <div class="c-cards__item-img" style="background-image: url('/app/img/content/card-2.jpg');"></div>
              <h2>Аксесуари з тканини ROSA Studio</h2>
          </a>
          <a href="/products-2.html" class="c-cards__item">
              <div class="c-cards__item-img" style="background-image: url('/app/img/content/card-3.jpg');"></div>
              <h2>Гуаш художня ROSA Studio</h2>
          </a>
          <a href="/products-2.html" class="c-cards__item">
              <div class="c-cards__item-img" style="background-image: url('/app/img/content/card-4.jpg');"></div>
              <h2>Акрил художній ROSA Studio</h2>
          </a>

      </div>

  </div>
</div>
