<div class="c-f">

    <div class="c">
        <div class="c-f__inner">
            <div class="row">

                <div class="col-33 col-ab-50 c-f__list-wrap">

                    <div class="c-f__header-wrap">
                        <h2>РОЗДІЛИ</h2>
                    </div>

                    <div class="row">
                        <div class="col-100">
                            <ul class="c-f__nav-list">
                                <li><a href="/about.html">Про нас</a></li>
                                <li><a href="/products.html">Продукти</a></li>
                                <li><a href="/production.html">Виробництво</a></li>
                                <li><a href="/distribution.html">Дистрибуція</a></li>
                                <li><a href="/shop-online.html">Магазин</a></li>
                                <li><a href="/news.html">Новини</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-33 col-ab-50 c-f__list-wrap">

                    <div class="c-f__header-wrap">
                        <h2>КОНТАКТИ</h2>
                    </div>

                    <div class="row">
                        <div class="col-100">
                            <ul class="c-f__nav-list">
                                <li>
                                    <div class="c-f__nav-list-item-header">Відділ дистрибуції</div>
                                    <a href="#">(067) 332 17 57</a>
                                </li>
                                <li>
                                    <div class="c-f__nav-list-item-header">Магазин</div>
                                    <a href="#">(067) 332-12-52</a>
                                </li>
                                <li>
                                    <div class="c-f__nav-list-item-header">Відділ експорту</div>
                                    <a href="#">(067) 332 08 90</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-33 col-ab-50 c-f__list-wrap">

                    <div class="c-f__header-wrap">
                        <h2>Соц сети</h2>
                    </div>

                    <div class="row">
                        <div class="col-100">
                            <div class="c-f__socials">

                                <div class="sb-socials">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/rosaukraine/" class="sb-socials__link" target="_blank">
                                                <span class="sb-socials__icon sb-socials__icon--facebook"></span><span class="sb-socials__link-text">ROSA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/rosakits" class="sb-socials__link" target="_blank">
                                                <span class="sb-socials__icon sb-socials__icon--facebook"></span><span class="sb-socials__link-text">ROSA KITS</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/rosatalent/" class="sb-socials__link" target="_blank">
                                                <span class="sb-socials__icon sb-socials__icon--facebook"></span><span class="sb-socials__link-text">ROSA TALENT</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://rosa-talent.blogspot.com/" class="sb-socials__link" target="_blank">
                                                <span class="sb-socials__icon sb-socials__icon--blogspot"></span><span class="sb-socials__link-text">ROSA TALENT</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/channel/UCPz-X_LRxqZ2Rlkb8FglbpA" class="sb-socials__link" target="_blank">
                                                <span class="sb-socials__icon sb-socials__icon--youtube"></span><span class="sb-socials__link-text">ROSA</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="c-f__copy-wrap">
        <div class="c-f__copy">© 2016 Rosa</div>
        <div class="c-f__a">
            <div class="c-f__a-text">Разработка сайта</div><a href="http://www.perevorot.com/" class="c-f__a-logo" target="_blank"><img src="http://rosa.super.perevorot.com/app/img/design/pere.svg"></a>
        </div>
    </div>

    <div class="c-f__bottom-line"></div>

</div>
