<div class="c-h @@light-class">

    <div class="c-h__nav-button">

        <div class="sb-nav-button" data-js="nav_button">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>

    <div class="c-h__inner">

        <div class="c-h__mob-langs jsMobLangs" data-js="show_langs">
            <div class="c-h__active-lang jsActiveLang">УКР</div>
            <ul>
    			<li><a href="#" class="jsMobLang">УКР</a></li>
    			<li><a href="#" class="jsMobLang">РУС</a></li>
    			<li><a href="#" class="jsMobLang">ENG</a></li>
            </ul>
            <div class="c-h__close-mob-langs jsCloseMobLangs"></div>
		</div>

		<div class="c-h__scroll">
			<ul>
				<li class="@@about"><div class="c-h__show-sub" data-js="show_sub"></div><a href="/about.html"><span>Про нас</span></a>
					<ul>
						<li class="@@mission"><a href="/mission.html"><span>Місія</span></a></li>
						<li class="@@contacts"><a href="/contacts.html"><span>Контакти</span></a></li>
						<li class="@@team"><a href="/team.html"><span>Команда</span></a></li>
						<li class="@@career"><a href="/career.html"><span>Кар'єра</span></a></li>
						<li class="@@brands"><a href="/brands.html"><span>Бренди</span></a></li>
						<li class="@@history"><a href="/history.html"><span>Історія</span></a></li>
					</ul>
				</li>
				<li class="@@products"><div class="c-h__show-sub" data-js="show_sub"></div><a href="/products.html"><span>Продукти</span></a>
					<ul>
						<li class="@@products-1"><a href="/products-2.html"><span>Декор, хобі та рукоділля</span> </a></li>
						<li class="@@products-2"><a href="/products-2.html"><span>Живопис та графіка</span></a></li>
						<li class="@@products-3"><a href="/products-2.html"><span>Набори для творчості</span></a></li>
					</ul>
				</li>
				<li class="@@production"><a href="/production.html"><span>Виробництво</a> </span></li>
				<li class="@@distribution"><a href="/distribution.html"><span>Дистрибуція</a> </span></li>
				<li class="@@shop-online"><a href="/shop-online.html"><span>Магазин</a> </span></li>
				<li class="@@news"><div class="c-h__show-sub" data-js="show_sub"></div><a href="/news.html"><span>Новини</span></a>
					<ul>
						<li class="@@news-1"><a href="/news.html"><span>Всі</span></a></li>
						<li><a href="/news.html"><span>Стипендія</span></a></li>
						<li><a href="/news.html"><span>Відповідальність</span></a></li>
						<li><a href="/news.html"><span>Продукти</span></a></li>
						<li><a href="/news.html"><span>Події</span></a></li>
					</ul>
				</li>
			</ul>
            <ul class="c-h__mob-nav">
				<li class="@@about"><div class="c-h__show-sub" data-js="show_sub"></div><a href="/about.html"><span>Про нас</span></a>
					<ul>
						<li class="@@mission"><a href="/mission.html"><span>Місія</span></a></li>
						<li class="@@contacts"><a href="/contacts.html"><span>Контакти</span></a></li>
						<li class="@@team"><a href="/team.html"><span>Команда</span></a></li>
						<li class="@@career"><a href="/career.html"><span>Кар'єра</span></a></li>
						<li class="@@brands"><a href="/brands.html"><span>Бренди</span></a></li>
						<li class="@@history"><a href="/history.html"><span>Історія</span></a></li>
					</ul>
				</li>
				<li class="@@products"><div class="c-h__show-sub" data-js="show_sub"></div><a href="/products.html"><span>Продукти</span></a>
					<ul>
						<li class="@@products-1"><a href="/products-2.html"><span>Декор, хобі та рукоділля</span> </a></li>
						<li class="@@products-2"><a href="/products-2.html"><span>Живопис та графіка</span></a></li>
						<li class="@@products-3"><a href="/products-2.html"><span>Набори для творчості</span></a></li>
					</ul>
				</li>
				<li class="@@production"><a href="/production.html"><span>Виробництво</a> </span></li>
				<li class="@@distribution"><a href="/distribution.html"><span>Дистрибуція</a> </span></li>
				<li class="@@shop-online"><a href="/shop-online.html"><span>Магазин</a> </span></li>
				<li class="@@news"><div class="c-h__show-sub" data-js="show_sub"></div><a href="/news.html"><span>Новини</span></a>
					<ul>
						<li class="@@news-1"><a href="/news.html"><span>Всі</span></a></li>
						<li><a href="/news.html"><span>Стипендія</span></a></li>
						<li><a href="/news.html"><span>Відповідальність</span></a></li>
						<li><a href="/news.html"><span>Продукти</span></a></li>
						<li><a href="/news.html"><span>Події</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="c-h__right">
		<a href="/index.html" class="c-h__logo-group">
			<div class="c-h__logo-img">
				<div class="c-h__logo-text">
                    МАТЕРІАЛИ
                    <br>ДЛЯ ХУДОЖНИКІВ,
                    <br>ТВОРЧОСТІ ТА ХОББІ
                </div>
			</div>
		</a>
		<ul class="c-h__langs">
			<li class="is-active"><a href="#">УКР</a></li>
			<li><a href="#">РУС</a></li>
			<li><a href="#">ENG</a></li>
		</ul>
        <div class="c-h__bg-nav" data-js="close_nav"></div>
	</div>

</div>
