<div class="c-maps">
    <div class="c">

        <div class="c-maps__item">
            <div class="c-maps__description">
                <h2>Головний офіс</h2>
                <p>
                    <p>
                        <p>Україна, 45400, Волинська обл.,&nbsp;</p>
                        <p>м. Нововолинськ,</p>
                        <p>вул. Княгині Ольги, 64</p>
                        <p>тел.: +380 (3344) 2 48 52;</p>
                        <p>e-mail:&nbsp;<a href="mailto:volyn@rosa.ua">volyn@rosa.ua</a></p>
                    </p>
                </p>
            </div>
            <div class="c-maps__map-wrap" data-lat="50.715495063627635" data-lng="24.1696736830811" data-zoom="16"></div>
        </div>

        <div class="c-maps__item">
            <div class="c-maps__description">
                <h2>Київська філія</h2>
                <p>
                    <p>Україна, 04080, Київська обл.,</p>
                    <p>м. Київ,&nbsp;вул. Верхній вал, буд. 4В, ЛІТЕРА А</p>
                </p>
            </div>
            <div class="c-maps__map-wrap" data-lat="50.4628974" data-lng="30.50863800000002" data-zoom="19"></div>
        </div>

    </div>
</div>
