<div class="c-news">
    <div class="c">
        <div class="c-news__inner">

            <div class="c-news__header">
                <div class="sb-h2">
                    <h2>@@header</h2>
                </div>
            </div>

            <div class="row c-news__list">

                <div class="c-news__item col-ab-100 col-50">

                    <a href="/news-one.html" class="sb-news-card">
                        <h2>Поповнення асортимента тм «Docrafts»</h2>
                        <h3 class="sb-news-card__date">17 січня 2016</h3>
                        <p>Як щодо напису в модному зараз стилі на футболці чи светрі, який гарантуватиме шторм поцілунків в океані почуттів? Навколишній світ унікальний....</p>
                    </a>

                </div>

                <div class="c-news__item col-ab-100 col-50">

                    <a href="/news-one.html" class="sb-news-card">
                        <h2>Поповнення асортимента тм «Docrafts»</h2>
                        <h3 class="sb-news-card__date">17 січня 2016</h3>
                        <p>Як щодо напису в модному зараз стилі на футболці чи светрі, який гарантуватиме шторм поцілунків в океані почуттів? Навколишній світ унікальний....</p>
                    </a>

                </div>

            </div>

            <div class="c-news__button-wrap">
                <a href="/news.html" class="sb-button sb-button--light">ВСІ НОВИНИ</a>
            </div>

        </div>
    </div>
</div>
