<div class="c-slider" data-js="main_slider">

    <div class="c-slider__item c-slider__item--dark" style="background-image: url('/app/img/design/c-slider-item-1.jpg');">
        <div class="c">
            <div class="c-slider__table">
                <div class="c-slider__cell">
                    <h2>Папір для скрапбукінгу <br>ROSA TALENT</h2>
                    <a href="/product.html" class="c-slider__button sb-button sb-button--border-radius-off sb-button--bg-purple">Детальніше</a>
                </div>
            </div>
        </div>
    </div>

    <div class="c-slider__item c-slider__item--dark" style="background-image: url('/app/img/design/c-slider-item-1.jpg');">
        <div class="c">
            <div class="c-slider__table">
                <div class="c-slider__cell">
                    <h2>КЛЮЧОВІ ПРОДУКТИ ROSA СЬОГОДНІ</h2>
                    <a href="/production.html" class="c-slider__button sb-button sb-button--border-radius-off sb-button--bg-indigo">Детальніше</a>
                </div>
            </div>
        </div>
    </div>

</div>
