<div class="c-team">
    <div class="c">

        <div class="row c-team__list" data-js="emails">

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник<br><br></h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-33 col-ab-50 c-team__item">

                <div class="sb-img-card">
                    <div class="sb-img-card__img" style="background-image: url('http://rosa.super.perevorot.com/thumbs/320x300/storage/images/2016-01-27/.jpg');"></div>
                    <div class="sb-img-card__description">
                        <h2>Рудь Андрій</h2>
                        <h3>власник</h3>
                        <div>
                            <a href="mailto:rud@rosa.ua">
                                <span class="sb-img-card__hide-mail" data-name="rud" data-domain="rosa.ua">rud@rosa.ua</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
