<script src="app/js/jquery-2.1.4.js"></script>
<script src="app/js/jquery.sticky.js"></script>
<script src="app/js/slick.min.js"></script>
<script src="app/js/social-likes.min.js"></script>
<script src="app/js/lightgallery.min.js"></script>
<script src="app/js/app.js"></script>
